@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-VariableFont_wght.woff2") format("woff2 supports variations"), url("../fonts/Lora-VariableFont_wght.woff2") format("woff2-variations"), url("../fonts/Lora-VariableFont_wght.woff") format("woff");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-VariableFont_wght.woff2") format("woff2 supports variations"), url("../fonts/Onest-VariableFont_wght.woff2") format("woff2-variations"), url("../fonts/Onest-VariableFont_wght.woff") format("woff");
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UltraCondensedSansSerif";
  font-display: swap;
  src: url("../fonts/UltraCondensedSansSerif-Regular.woff2") format("woff2"), url("../fonts/UltraCondensedSansSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-chevron-down:before {
  content: "\e900";
}

.icon-envelope:before {
  content: "\e901";
}

.icon-location:before {
  content: "\e902";
}

.icon-phone:before {
  content: "\e903";
}

body {
  font-family: "Onest", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  background: url("../img/noise.svg") 0 0/cover no-repeat, #e6e0d7;
  color: #60371b;
  margin-right: 0 !important;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: clip;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1.25rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: relative;
  z-index: 6;
}

.header.header--absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #e6e0d7;
}

.header.submenu-open .header__overlay {
  opacity: 1;
}

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 12, 7, 0.8);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.header__top {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
  padding: 1.25rem 0;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.375rem;
}

.header__logo {
  color: #e6e0d7;
  font-family: "UltraCondensedSansSerif";
  margin-right: auto;
  font-size: 2.125rem;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header__phone::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.5rem;
}

.header__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.header__email::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.35rem;
}

.header__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.375rem;
}

.header__address::before {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.35rem;
}

.header__menu-toggler {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0.375rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item {
  padding: 1.25rem 0;
}

.menu__item.menu__item--parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.menu__arrow {
  width: 1.5rem;
  font-size: 0.5rem;
  margin-left: 0.25rem;
  height: 0.75rem;
  -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease;
  transition: color 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.menu__arrow.active {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__categories {
  margin-top: 1.25rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 128.571%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
  text-transform: none;
}

.menu__category-link {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.submenu__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.625rem;
}

.submenu__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-weight: 500;
  letter-spacing: -0.0175rem;
  font-size: 0.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6.25rem;
          flex: 0 0 6.25rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  line-height: 128%;
}

.submenu__product-image {
  overflow: hidden;
  border-radius: 0.25rem;
  aspect-ratio: 0.9090909091;
}

.submenu__product-name {
  margin-top: 0.5rem;
  font-size: 0.9375rem;
  text-transform: none;
  font-weight: 500;
  line-height: 133.333%;
  letter-spacing: -0.01875rem;
}

.submenu__list {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  text-transform: none;
}

.submenu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  font-weight: 500;
  letter-spacing: 0.02rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.icon-menu {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  z-index: 11;
  min-width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  padding: 0 0.125rem;
}

.icon-menu span {
  display: block;
  padding: 0.1875rem 0rem;
  width: 100%;
  -webkit-transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
  transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  will-change: transform;
}

.icon-menu span::before {
  content: "";
  display: block;
  height: 0.125rem;
  width: 100%;
  margin-right: auto;
  background: currentColor;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  will-change: transform;
}

.icon-menu span:nth-child(2)::before {
  width: 75%;
}

.header.open-menu .icon-menu {
  color: #fff;
}

.header.open-menu .icon-menu span {
  -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
  transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header.open-menu .icon-menu span::before {
  -webkit-transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
  transition: transform 0.45s ease 0.35s, width 0.3s ease 0s, -webkit-transform 0.45s ease 0.35s;
  width: 90%;
}

.header.open-menu .icon-menu span:first-child {
  -webkit-transform: translateY(0.5rem);
      -ms-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
}

.header.open-menu .icon-menu span:first-child::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.header.open-menu .icon-menu span:nth-child(2) {
  opacity: 0;
}

.header.open-menu .icon-menu span:nth-child(3) {
  -webkit-transform: translateY(-0.5rem);
      -ms-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.header.open-menu .icon-menu span:nth-child(3)::before {
  -webkit-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.col-xxl,
.col-xxl-1,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.col-10 {
  max-width: 83.333333%;
  -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 83.333333%;
}

.col-11 {
  max-width: 91.666667%;
  -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 91.666667%;
}

.col-12 {
  max-width: 100%;
  -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
          flex: 0 0 100%;
}

.col-1 {
  max-width: 8.333333%;
  -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 8.333333%;
}

.col-2 {
  max-width: 16.666667%;
  -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 16.666667%;
}

.col-3 {
  max-width: 25%;
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
          flex: 0 0 25%;
}

.col-4 {
  max-width: 33.333333%;
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
}

.col-5 {
  max-width: 41.666667%;
  -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 41.666667%;
}

.col-6 {
  max-width: 50%;
  -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
          flex: 0 0 50%;
}

.col-7 {
  max-width: 58.333333%;
  -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 58.333333%;
}

.col-8 {
  max-width: 66.666667%;
  -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
          flex: 0 0 66.666667%;
}

.col-9 {
  max-width: 75%;
  -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
          flex: 0 0 75%;
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__backdrop {
  background: rgba(14, 22, 65, 0.7);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  display: none;
  background: #fff;
  color: #000;
  position: relative;
  border-radius: 0.25rem;
  max-width: 60rem;
  width: 100%;
  padding: 2rem 1.5rem;
}

.popup__close {
  font-size: 1.5rem;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  top: 0.5rem;
  right: 0.5rem;
}

.popup__description {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.popup__form {
  margin-top: 1.81rem;
}

.popup__form .row > * {
  padding: 0.75rem 1rem;
}

.title-lg {
  font-family: "Lora";
  font-size: 1.875rem;
  letter-spacing: -0.0375rem;
  line-height: 120%;
}

.title {
  font-family: "Lora";
  line-height: 108.696%;
  font-size: 1.875rem;
  letter-spacing: -0.0375rem;
}

.more-link {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 106.25%;
  letter-spacing: -0.02rem;
  border-bottom: 0.0625rem solid rgba(77, 44, 22, 0.5);
  -webkit-transition: border-bottom-color 0.3s ease;
  transition: border-bottom-color 0.3s ease;
}

.color-accent {
  color: #60371b;
}

.seo-text {
  color: #898989;
  text-align: center;
  line-height: 140%;
  font-size: 0.875rem;
  margin-top: 1.25rem;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #60371b;
  border-radius: 0.5rem;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__label {
  font-size: 1.0625rem;
  line-height: 141.176%;
  display: inline-block;
  margin-bottom: 0.25rem;
}

.form__control {
  text-overflow: ellipsis;
  font-family: "Onest";
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(9, 97, 166, 0.3);
  background: rgba(9, 97, 166, 0.1);
  padding: 1rem 1.5rem;
  min-height: 3.75rem;
  color: #e6e0d7;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 141.176%;
  color: #000;
}

.form__control:focus {
  border: 0.0625rem solid rgb(9, 97, 166);
}

.form__control:disabled {
  opacity: 0.24;
}

.form__control:is(textarea) {
  height: 9rem;
  resize: none;
}

.form__control:is(select) {
  background: url("../img/icons/down.svg") no-repeat right 1.5rem center/1.5rem, rgba(9, 97, 166, 0.1);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__checkbox {
  display: block;
}

.form__checkbox-input:checked + .form__checkbox-text::before {
  background-color: rgb(9, 97, 166);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23BAE582' d='M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}

.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid #f06868;
}

.form__checkbox-text {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 133.333%;
  min-height: 2.25rem;
  padding: 0 0 0 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0625rem solid #dfe4ef;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-text a {
  text-decoration: underline;
  color: #3972c4;
}

.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: -0.0225rem;
  padding: 1.5625rem 2.1875rem;
  font-size: 1rem;
}

.btn:focus-visible {
  -webkit-box-shadow: 0 0 0.0625rem 0.0625rem #60371b;
          box-shadow: 0 0 0.0625rem 0.0625rem #60371b;
}

.btn.btn-primary {
  color: #e6e0d7;
  border: 0.0625rem solid #60371b;
  background: #60371b;
}

.btn.btn-primary:hover {
  border: 0.0625rem solid #27170d;
  background: #27170d;
}

.btn.btn-primary:active {
  border: 0.0625rem solid #140c07;
  background: #140c07;
}

.btn.btn-light {
  border: 0.0625rem solid #e6e0d7;
  background: #e6e0d7;
  color: #261509;
}

.btn.btn-light:hover {
  background: #996948;
  border: 0.0625rem solid #996948;
  color: #fff;
}

.btn.btn-light:active {
  border: 0.0625rem solid #aa7550;
  background: #aa7550;
  color: #fff;
}

.btn.btn-light-outline {
  border: 0.0625rem solid #e6e0d7;
  color: #e6e0d7;
}

.btn.btn-light-outline:hover {
  background: #e6e0d7;
  color: #261509;
}

.btn.btn-light-outline:active {
  background: #996948;
  border: 0.0625rem solid #996948;
  color: #fff;
}

.btn.btn-sm {
  font-size: 1.0625rem;
  padding: 1.1875rem 1.4375rem;
}

.btn:disabled,
.btn[aria-disabled=true] {
  pointer-events: none;
}

.form__label {
  font-size: 1.0625rem;
  line-height: 141.176%;
  display: inline-block;
  margin-bottom: 0.25rem;
}

.form__control {
  text-overflow: ellipsis;
  font-family: "Onest";
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(9, 97, 166, 0.3);
  background: rgba(9, 97, 166, 0.1);
  padding: 1rem 1.5rem;
  min-height: 3.75rem;
  color: #e6e0d7;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 141.176%;
  color: #000;
}

.form__control:focus {
  border: 0.0625rem solid rgb(9, 97, 166);
}

.form__control:disabled {
  opacity: 0.24;
}

.form__control:is(textarea) {
  height: 9rem;
  resize: none;
}

.form__control:is(select) {
  background: url("../img/icons/down.svg") no-repeat right 1.5rem center/1.5rem, rgba(9, 97, 166, 0.1);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__checkbox {
  display: block;
}

.form__checkbox-input:checked + .form__checkbox-text::before {
  background-color: rgb(9, 97, 166);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23BAE582' d='M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z'/%3E%3C/svg%3E");
}

.form__checkbox-input.error + .form__checkbox-text::before {
  border: 0.0625rem solid #f06868;
}

.form__checkbox-text {
  position: relative;
  -ms-flex-line-pack: center;
      align-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 133.333%;
  min-height: 2.25rem;
  padding: 0 0 0 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__checkbox-text::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0625rem solid #dfe4ef;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__checkbox-text a {
  text-decoration: underline;
  color: #3972c4;
}

.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  font-weight: 500;
  line-height: 1.125rem;
  letter-spacing: -0.0225rem;
  padding: 1.5625rem 2.1875rem;
  font-size: 1rem;
}

.btn:focus-visible {
  -webkit-box-shadow: 0 0 0.0625rem 0.0625rem #60371b;
          box-shadow: 0 0 0.0625rem 0.0625rem #60371b;
}

.btn.btn-primary {
  color: #e6e0d7;
  border: 0.0625rem solid #60371b;
  background: #60371b;
}

.btn.btn-primary:hover {
  border: 0.0625rem solid #27170d;
  background: #27170d;
}

.btn.btn-primary:active {
  border: 0.0625rem solid #140c07;
  background: #140c07;
}

.btn.btn-light {
  border: 0.0625rem solid #e6e0d7;
  background: #e6e0d7;
  color: #261509;
}

.btn.btn-light:hover {
  background: #996948;
  border: 0.0625rem solid #996948;
  color: #fff;
}

.btn.btn-light:active {
  border: 0.0625rem solid #aa7550;
  background: #aa7550;
  color: #fff;
}

.btn.btn-light-outline {
  border: 0.0625rem solid #e6e0d7;
  color: #e6e0d7;
}

.btn.btn-light-outline:hover {
  background: #e6e0d7;
  color: #261509;
}

.btn.btn-light-outline:active {
  background: #996948;
  border: 0.0625rem solid #996948;
  color: #fff;
}

.btn.btn-sm {
  font-size: 1.0625rem;
  padding: 1.1875rem 1.4375rem;
}

.btn:disabled,
.btn[aria-disabled=true] {
  pointer-events: none;
}

.hero {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(2.96%, rgba(21, 12, 7, 0)), color-stop(98.33%, rgba(6, 3, 2, 0.8))), url("../img/hero.jpg") center/cover no-repeat, #60371b;
  background: linear-gradient(0deg, rgba(21, 12, 7, 0) 2.96%, rgba(6, 3, 2, 0.8) 98.33%), url("../img/hero.jpg") center/cover no-repeat, #60371b;
  color: #e6e0d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16.25rem 0 3.75rem;
  min-height: 100svh;
}

.hero .container {
  width: 100%;
}

.hero__offer {
  max-width: 58.3125rem;
}

.hero__features {
  line-height: 1;
  letter-spacing: -0.025rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  font-size: 1.125rem;
}

.hero__feature {
  padding: 0.375rem 1.25rem;
}

.hero__feature:first-child {
  padding-left: 0;
}

.hero__feature:last-child {
  padding-right: 0;
}

.hero__feature:not(:last-child) {
  border-right: 0.0625rem solid rgba(255, 255, 255, 0.1);
}

.hero__title {
  font-family: "Lora";
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.16875rem;
  text-align: center;
  font-size: 2.125rem;
  margin-top: 1.5rem;
}

.hero__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
  margin-top: 1.5rem;
}

.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}

.hero__production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  max-width: 15.5rem;
}

.hero__production-icon {
  width: 3.375rem;
  height: 3.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.hero__production-text {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}

.categories {
  padding: 3.125rem 0 1.625rem;
}

.categories .row {
  margin: 0 -0.625rem;
  row-gap: 0.625rem;
}

.categories .row > * {
  padding: 0 0.625rem;
}

.categories__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background: #60371b;
  overflow: hidden;
}

.categories__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(181deg, rgba(21, 12, 7, 0) 1.07%, rgba(2, 1, 1, 0.8) 98.86%);
  z-index: 2;
}

.categories__card-poster {
  border-radius: 0.25rem;
  position: relative;
  z-index: 1;
}

.categories__card-poster img {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.categories__card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #e6e0d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
  z-index: 3;
  padding: 0rem 1.875rem 1.875rem;
}

.categories__card-name {
  font-family: "Lora";
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.04rem;
  text-align: center;
  font-size: 1.625rem;
}

.catalog {
  padding: 1.625rem 0;
}

.catalog__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

.catalog__body {
  margin-top: 1.5rem;
}

.catalog__body .row {
  margin: 0 -0.625rem;
  row-gap: 1.875rem;
}

.catalog__body .row > * {
  padding: 0 0.625rem;
}

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-card__poster {
  overflow: hidden;
  aspect-ratio: 0.9100877193;
}

.product-card__poster img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.product-card__name {
  font-weight: 500;
  color: #1e1e1e;
  line-height: 1;
  letter-spacing: -0.025rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  margin-top: 1rem;
  font-size: 1.125rem;
}

.product-card__more {
  margin-top: 0.5rem;
}

.products {
  padding: 2.5rem 0;
}

.products__body {
  margin-top: 3.125rem;
}

.products__body .row {
  margin: 0 -0.625rem;
  row-gap: 1.25rem;
}

.products__body .row > * {
  padding: 0 0.625rem;
}

.products__btns {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}

.product {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1.25rem;
  background: #fff;
}

.product__header {
  background: #fff;
  aspect-ratio: 4/3;
  border-radius: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.product__header-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem;
}

.product__label {
  border-radius: 3.125rem;
  background: #60371b;
  color: #fff;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 120%;
  padding: 0.5rem 0.875rem;
}

.product__compare {
  width: 2rem;
  height: 2rem;
  border-radius: 3.125rem;
  background: #3b3b3b;
  color: #898989;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.product__compare.active {
  background: #f9851f;
  color: #1b1b1b;
}

.product__image {
  height: 100%;
  width: 100%;
}

.product__image img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.product__body {
  padding: 0.75rem 1.25rem;
}

.product__name {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.product__stats {
  margin-top: 0.9375rem;
}

.product__stats-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.25rem;
}

.product__stats-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.product__stats-icon {
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.375rem;
}

.product__stats-property {
  color: #898989;
}

.product__footer {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.125rem 1.25rem 1.25rem;
}

.product__price {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
}

.product__add-to-cart.btn {
  padding: 0.6875rem 1.875rem;
}

.about {
  padding: 1.625rem 0;
}

.about .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__text {
  display: contents;
}

.about__text--centered {
  margin: 0 auto;
}

.about__title {
  -webkit-box-ordinal-group: -1;
      -ms-flex-order: -2;
          order: -2;
  text-align: center;
}

.about__description {
  margin-top: 0.875rem;
  line-height: 1.5;
  letter-spacing: -0.025rem;
  text-align: center;
  font-size: 1rem;
  color: rgb(30, 30, 30);
}

.about__image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-top: 1.25rem;
}

.about__production {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__production-icon {
  width: 3.375rem;
  height: 3.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 0.0625rem solid rgba(77, 44, 22, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.about__production-text {
  color: #1e1e1e;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.025rem;
  max-width: 12rem;
}

.about__more {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0.75rem;
}

.features {
  padding: 1.625rem 0;
}

.features .row {
  margin: 0 -0.625rem;
  row-gap: 1.25rem;
}

.features .row > * {
  padding: 0 0.625rem;
}

.features__title {
  margin-bottom: 2.5rem;
  text-align: center;
}

.features__item {
  border-radius: 0.25rem;
  border: 0.0625rem solid rgba(77, 44, 22, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.25rem;
  height: 100%;
  gap: 1.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.25rem;
  min-height: 11.5625rem;
}

.features__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.features__item-text {
  color: #1e1e1e;
  font-weight: 500;
  line-height: 1.3;
  font-size: 0.9375rem;
}

@media (min-width: 575.98px) {
  .container {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    max-width: 33.75rem;
  }

  .header__top {
    padding: 0.875rem 0;
  }

  .header__logo {
    font-size: 2.5rem;
  }

  .header__phone::before {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.125rem;
  }

  .header__email::before {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.125rem;
  }

  .header__address::before {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.125rem;
  }

  .col-sm-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-sm-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .popup {
    padding: 5.63rem 7.88rem;
  }

  .popup__close {
    top: 2.12rem;
    right: 2.12rem;
  }

  .title-lg {
    line-height: 106.061%;
    letter-spacing: -0.15625rem;
    font-size: 3.125rem;
  }

  .title {
    letter-spacing: -0.14375rem;
    font-size: 2.875rem;
  }

  .seo-text {
    margin-top: 1.875rem;
    font-size: 1rem;
  }

  .btn {
    font-size: 1.125rem;
  }

  .btn {
    font-size: 1.125rem;
  }

  .hero__feature {
    padding: 0.625rem 1.5rem;
  }

  .hero__title {
    margin-top: 2rem;
    text-align: left;
    font-size: 3.375rem;
  }

  .hero__footer {
    margin-top: 2.125rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .hero__btns {
    gap: 1rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .categories {
    padding: 6.25rem 0 3.125rem;
  }

  .catalog {
    padding: 3.125rem 0;
  }

  .catalog__header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }

  .catalog__logo {
    color: #1e1e1e;
    font-family: "UltraCondensedSansSerif";
    font-size: 3.75rem;
    line-height: 1;
  }

  .catalog__body {
    margin-top: 2rem;
  }

  .catalog__body .row {
    row-gap: 2.5rem;
  }

  .product-card__name {
    font-size: 1.25rem;
    margin-top: 1.25rem;
  }

  .product-card__more {
    margin-top: 1rem;
  }

  .about {
    padding: 3.125rem 0;
  }

  .about .row {
    margin: 0 -0.75rem;
    row-gap: 1.25rem;
  }

  .about .row > * {
    padding: 0 0.75rem;
  }

  .about__text {
    display: block;
  }

  .about__title {
    text-align: left;
  }

  .about__description {
    color: rgba(30, 30, 30, 0.8);
    font-size: 1.125rem;
    text-align: left;
  }

  .about__image {
    margin-top: 0;
  }

  .about__production {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 3.75rem;
  }

  .about__more {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 1.875rem;
  }

  .features {
    padding: 3.125rem 0;
  }

  .features__title {
    text-align: left;
  }

  .features__item-icon {
    width: 3.375rem;
    height: 3.375rem;
  }

  .features__item-text {
    font-size: 1.125rem;
  }
}

@media (min-width: 767.98px) {
  .container {
    max-width: 45rem;
  }

  .menu__arrow {
    margin-left: 0.38rem;
  }

  .col-md-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-md-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .hero {
    min-height: 45.5625rem;
  }

  .hero__features {
    font-size: 1.25rem;
  }

  .products {
    padding: 3.75rem 0;
  }

  .features__item {
    min-height: 100%;
    padding: 2.375rem 1.875rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (any-hover: hover) and (min-width: 767.98px) {
  .menu__item.menu__item--parent:hover .submenu {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 1023.98px) {
  .container {
    max-width: 60rem;
  }

  .header__logo {
    margin-right: 0;
  }

  .menu__list {
    gap: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu__item.menu__item--parent {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .menu__link {
    max-width: calc(100% - 1.5rem);
  }

  .submenu {
    position: absolute;
    top: 100%;
    min-width: 23.75rem;
    padding: 1.875rem 0;
    -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
            transform-origin: center top;
    -webkit-transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
    transition: opacity 0.3s ease 0s, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
    will-change: transform;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    visibility: hidden;
  }

  .submenu.open {
    opacity: 1;
    visibility: visible;
  }

  .submenu__products {
    gap: 1.125rem;
  }

  .submenu__product {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    line-height: 133.333%;
    letter-spacing: -0.01875rem;
    font-size: 0.9375rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.75rem;
            flex: 0 0 8.75rem;
  }

  .submenu__list {
    -webkit-column-gap: 4.37rem;
       -moz-column-gap: 4.37rem;
            column-gap: 4.37rem;
    row-gap: 1.5rem;
  }

  .icon-menu {
    display: none;
  }

  .col-lg-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-25 {
    max-width: 20%;
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-lg-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .about__text {
    max-width: 32rem;
  }
}

@media (min-width: 1365.98px) {
  .container {
    max-width: 77.875rem;
  }

  .menu .container {
    max-width: 75rem;
  }

  .submenu:has(.submenu__products) {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 77.875rem;
  }

  .col-xl-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-25 {
    max-width: 20%;
    -ms-flex: 0 0 20%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-xl-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }
}

@media (min-width: 1749.98px) {
  .container {
    max-width: 107.5rem;
  }

  .submenu:has(.submenu__products) {
    width: 107.5rem;
  }

  .submenu:has(.submenu__products) {
    width: 107.5rem;
  }

  .title-lg {
    letter-spacing: -0.20625rem;
    font-size: 4.125rem;
  }

  .hero {
    padding: 12.6rem 0;
    min-height: 64rem;
  }

  .hero__title {
    margin-top: 2.75rem;
    letter-spacing: -0.19375rem;
    line-height: 1;
    font-size: 3.875rem;
  }

  .hero__footer {
    margin-top: 2.75rem;
  }

  .categories {
    padding: 7.5rem 0 4.0625rem;
  }

  .categories__card-info {
    padding: 0rem 2.625rem 3.125rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .categories__card-name {
    font-size: 2rem;
    text-align: left;
  }

  .catalog {
    padding: 4.0625rem 0;
  }

  .about {
    padding: 3.75rem 0;
  }

  .about__text {
    max-width: 43rem;
  }

  .about__description {
    font-size: 1.25rem;
  }

  .features {
    padding: 3.75rem 0;
  }

  .features__item {
    gap: 2rem;
    padding: 2.375rem 3.125rem;
  }

  .features__item-icon {
    width: 4rem;
    height: 4rem;
  }

  .features__item-text {
    font-size: 1.25rem;
  }
}

@media (max-width: 1023.98px) {
  body.lock-menu {
    overflow: hidden;
  }

  .header__phone {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
  }

  .header__phone span {
    display: none;
  }

  .header__email {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
  }

  .header__email span {
    display: none;
  }

  .header__address {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0.0625rem solid rgba(255, 255, 255, 0.2);
  }

  .header__address span {
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #150c07;
    z-index: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 0rem;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
            transform: translateX(100vw);
  }

  .header.open-menu .menu {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .menu .container {
    width: 100%;
    display: block;
  }

  .menu__item:not(:last-child) {
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.1);
  }

  .submenu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin-top: 1.5rem;
    display: none;
  }

  .submenu.open {
    display: block;
  }
}

@media (max-width: 932px) {
  .col-1 {
    max-width: 8.33333333%;
    -ms-flex: 0 0 8.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-2 {
    max-width: 16.66666667%;
    -ms-flex: 0 0 16.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-3 {
    max-width: 25%;
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-4 {
    max-width: 33.33333333%;
    -ms-flex: 0 0 33.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-5 {
    max-width: 41.66666667%;
    -ms-flex: 0 0 41.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-6 {
    max-width: 50%;
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-7 {
    max-width: 58.33333333%;
    -ms-flex: 0 0 58.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-8 {
    max-width: 66.66666667%;
    -ms-flex: 0 0 66.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-9 {
    max-width: 75%;
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-10 {
    max-width: 83.33333333%;
    -ms-flex: 0 0 83.33333333%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-11 {
    max-width: 91.66666667%;
    -ms-flex: 0 0 91.66666667%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

  .col-12 {
    max-width: 100%;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }
}

@media (max-width: 575.98px) {
  .catalog__logo {
    font-family: Lora;
    font-size: 1.875rem;
    letter-spacing: -0.0375rem;
  }

  .product-card__more span {
    display: none;
  }

  .about .row {
    display: contents;
  }

  .about .row > * {
    display: contents;
  }
}

@media (any-hover: hover) {
  .header__phone:hover {
    color: #996948;
  }

  .header__email:hover {
    color: #996948;
  }

  .menu__item.menu__item--parent:hover .menu__link,
  .menu__item.menu__item--parent:hover .menu__arrow {
    color: #996948;
  }

  .menu__item.menu__item--parent:hover .menu__arrow {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }

  .menu__link:hover {
    color: #996948;
  }

  .menu__category-link:hover {
    color: #fff;
  }

  .submenu__product:hover {
    color: #aa7a59;
  }

  .submenu__link:hover {
    color: #aa7a59;
  }

  .popup__close:hover {
    color: #f06868;
  }

  .more-link:hover {
    border-bottom-color: transparent;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #d2c8b8;
  }

  .form__checkbox-text a:hover {
    text-decoration: none;
  }

  .form__checkbox-text a:hover {
    text-decoration: none;
  }

  .categories__card:hover .categories__card-poster img {
    -webkit-transform: scale(1.125);
        -ms-transform: scale(1.125);
            transform: scale(1.125);
  }

  .categories__card:hover .categories__card-btn {
    background: #e6e0d7;
    color: #261509;
  }

  .categories__card:hover .categories__card-btn:hover {
    background: #996948;
    border: 0.0625rem solid #996948;
    color: #fff;
  }

  .categories__card:hover .categories__card-btn:active {
    border: 0.0625rem solid #aa7550;
    background: #aa7550;
    color: #fff;
  }

  .product-card__poster:hover img {
    -webkit-transform: scale(1.015);
        -ms-transform: scale(1.015);
            transform: scale(1.015);
  }

  .product-card__name:hover {
    color: #996948;
  }

  .product__compare:not(.active):hover {
    color: #fff;
  }

  .product__image:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .product__name:hover {
    color: #60371b;
  }
}