body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem(320);
	min-height: 100%;
	line-height: normal;
	background: url("@img/noise.svg") 0 0 / cover no-repeat, #e6e0d7;
	color: #60371b;
	margin-right: 0 !important;
	&.lock-menu {
		@media (max-width: $md2) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow-x: clip;
}

.page {
	flex: 1 1 auto;
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================

.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 rem(20);
	box-sizing: border-box;
	@media (min-width: $md4) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md3) {
		max-width: rem(720);
	}
	@media (min-width: $md2) {
		max-width: rem(960);
	}
	@media (min-width: $md1) {
		max-width: rem(1246);
	}
	@media (min-width: $md0) {
		max-width: rem(1720);
	}
}

//=============== LAYOUT ===============================
