@font-face {
								font-family: 'icons';
								font-display: swap;
								src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
@font-face {
								font-family: 'Onest';
								src: url("../fonts/Onest-VariableFont_wght.woff2") format("woff2 supports variations"),
									url("../fonts/Onest-VariableFont_wght.woff2") format("woff2-variations"),
									url("../fonts/Onest-VariableFont_wght.woff") format("woff");
								font-weight: 100 900;
								font-stretch: 75% 125%;
								font-style: normal;
								font-display: swap;
							}
@font-face {
								font-family: 'Lora';
								src: url("../fonts/Lora-VariableFont_wght.woff2") format("woff2 supports variations"),
									url("../fonts/Lora-VariableFont_wght.woff2") format("woff2-variations"),
									url("../fonts/Lora-VariableFont_wght.woff") format("woff");
								font-weight: 100 900;
								font-stretch: 75% 125%;
								font-style: normal;
								font-display: swap;
							}
@font-face {
								font-family: 'UltraCondensedSansSerif';
								font-display: swap;
								src: url("../fonts/UltraCondensedSansSerif-Regular.woff2") format("woff2"), url("../fonts/UltraCondensedSansSerif-Regular.woff") format("woff");
								font-weight: 400;
								font-style: normal;
							}
