.form {
	// .form__field
	&__field {
	}
	// .form__label
	&__label {
		font-size: 1.0625rem;
		line-height: 141.176%;
		display: inline-block;
		margin-bottom: 0.25rem;
	}

	// .form__control
	&__control {
		text-overflow: ellipsis;
		font-family: $fontfamily;
		transition: background-color 0.3s ease, color 0.3s ease;
		width: 100%;
		border-radius: 0.25rem;
		border: rem(1) solid rgba(9, 97, 166, 0.3);
		background: rgba(9, 97, 166, 0.1);
		padding: 1rem 1.5rem;
		min-height: rem(60);
		color: $white;
		font-size: 1.0625rem;
		font-weight: 500;
		line-height: 141.176%;
		color: #000;

		&::placeholder {
		}

		&:focus {
			border: rem(1) solid rgba(9, 97, 166, 1);
		}

		&:disabled {
			opacity: 0.24;
		}

		&:is(textarea) {
			height: 9rem;
			resize: none;
		}
		&:is(select) {
			background: url("@img/icons/down.svg") no-repeat right 1.5rem center / rem(24), rgba(9, 97, 166, 0.1);
			appearance: none;
		}
	}

	// .form__checkbox
	&__checkbox {
		display: block;
	}
	// .form__checkbox-input
	&__checkbox-input {
		&:checked {
			& + .form__checkbox-text {
				&::before {
					background-color: rgba(9, 97, 166, 1);
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23BAE582' d='M9 16.17L4.83 12l-1.42 1.41L9 19L21 7l-1.41-1.41z'/%3E%3C/svg%3E");
				}
			}
		}
		&.error {
			& + .form__checkbox-text {
				&::before {
					border: rem(1) solid #f06868;
				}
			}
		}
	}

	// .form__checkbox-text
	&__checkbox-text {
		position: relative;
		align-content: center;
		width: fit-content;

		line-height: 133.333%;
		min-height: 2.25rem;
		padding: 0 0 0 2em;
		cursor: pointer;
		user-select: none;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			border: rem(1) solid #dfe4ef;
			color: #fff;
			width: rem(24);
			height: rem(24);
			border-radius: rem(4);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;

			display: flex;
			justify-content: center;
			align-items: center;
		}
		& a {
			text-decoration: underline;
			color: #3972c4;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	// .form__btn
	&__btn {
	}
}

.btn {
	cursor: pointer;
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	user-select: none;
	transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;

	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.125rem;
	letter-spacing: -0.0225rem;
	padding: rem(25) rem(35);

	&:focus-visible {
		box-shadow: 0 0 rem(1) rem(1) $accent;
	}

	&.btn-primary {
		color: $white;
		border: rem(1) solid $accent;
		background: $accent;

		&:hover {
			border: rem(1) solid #27170d;
			background: #27170d;
		}
		&:active {
			border: rem(1) solid darken($color: #27170d, $amount: 5);
			background: darken($color: #27170d, $amount: 5);
		}
	}

	&.btn-light {
		border: rem(1) solid $white;
		background: $white;
		color: #261509;
		&:hover {
			background: #996948;
			border: rem(1) solid #996948;
			color: #fff;
		}
		&:active {
			border: rem(1) solid lighten($color: #996948, $amount: 5);
			background: lighten($color: #996948, $amount: 5);
			color: #fff;
		}
	}

	&.btn-light-outline {
		border: rem(1) solid $white;
		color: $white;

		&:hover {
			background: $white;
			color: #261509;
		}
		&:active {
			background: #996948;
			border: rem(1) solid #996948;
			color: #fff;
		}
	}

	&.btn-sm {
		font-size: 1.0625rem;
		padding: rem(19) rem(23);
	}

	&:disabled,
	&[aria-disabled="true"] {
		pointer-events: none;
	}
}
