.header {
	&.header--absolute {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 6;
		color: $white;
	}
	// .header__top
	&__top {
		padding: 1.06rem 0;
	}
	// .header__main
	&__main {
		display: flex;
		justify-content: space-between;
	}
	// .header__logo
	&__logo {
		color: #e6e0d7;
		font-family: $font-ultra;
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2.5rem; /* 100% */
	}
	// .header__phone
	&__phone {
	}
	// .header__address
	&__address {
	}
}

.menu {
	display: flex;
	align-items: center;

	// .menu__main
	&__main {
	}
	// .menu__content
	&__content {
		.container {
			display: contents;
		}
		@media (max-width: $md3) {
			position: fixed;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background: #000;
			z-index: 6;
			display: flex;
			overflow-y: auto;
			overflow-x: hidden;
			flex-direction: column;
			padding: 10rem 0rem;
			transition: transform 0.3s ease;
			transform: translateX(100vw);
			.header.open-menu & {
				transform: none;
			}
			.container {
				width: 100%;
				display: block;
			}
		}
		@media (max-width: $md4) {
			padding: 8rem 0rem;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		text-transform: uppercase;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 1;
		gap: 2rem;
		flex-direction: column;
		@media (min-width: $md3) {
			flex-direction: row;
		}
		@media (min-width: $md2) {
			gap: 4.38rem;
		}
	}
	// .menu__item
	&__item {
		&.menu__item--parent {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			@media (min-width: $md3) {
				flex-wrap: nowrap;
			}
			@media (any-hover: hover) {
				&:hover {
					margin: -2rem 0;
					.menu__link,
					.menu__arrow {
						color: #6adeac;
					}
					.menu__arrow {
						transform: rotate(180deg);
					}
					& .submenu {
						@media (min-width: $md3) {
							opacity: 1;
							visibility: visible;
							transform: translate3d(0, 0, 0);
						}
					}
				}
			}
		}
	}

	// .menu__link
	&__link {
		transition: color 0.3s ease;
		@media (min-width: $md3) {
			flex: 0 0 calc(100% - 1.5rem);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #6adeac;
			}
		}
	}
	// .menu__arrow
	&__arrow {
		width: 1.5rem;
		font-size: 0.5rem;
		margin-left: auto;
		height: 0.75rem;
		transition: color 0.3s ease, transform 0.3s ease;
		&.active {
			transform: rotate(180deg);
		}
		@media (min-width: $md3) {
			margin-left: 0.38rem;
		}
	}
	// .menu__categories
	&__categories {
		margin-top: rem(20);
		color: rgba(255, 255, 255, 0.7);
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 128.571%;
		display: flex;
		flex-direction: column;
		gap: rem(15);
		text-transform: none;
	}
	// .menu__category
	&__category {
	}
	// .menu__category-link
	&__category-link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .menu__toggler
	&__toggler {
		margin-left: auto;
		@media (min-width: $md4) {
			margin-left: 3rem;
		}
		@media (min-width: $md2) {
			margin-left: 6.2rem;
		}
	}
	// .menu__body
	&__body {
		margin-top: 2rem;
		@media (min-width: $md3) {
			margin-top: 0;
			display: none;
			position: absolute;
			top: calc(100% + 1.38rem);
			right: 0;
			padding: 2.5rem;
			width: 24.25rem;
			background: #283547;
			.menu__list {
				flex-direction: column;
				gap: 2.5rem;
			}
			.header.open-menu & {
				display: block;
			}
		}
	}
}

.submenu {
	@media (max-width: $md3) {
		flex: 0 0 100%;
		display: none;
		&.open {
			display: block;
		}
	}
	@media (min-width: $md3) {
		position: absolute;
		top: 100%;
		min-width: 23.75rem;
		padding-top: 1.375rem;
		transform-origin: center top;
		transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(0, rem(-7), 0);
		will-change: transform;
		display: flex;
		flex-direction: column;
		&:has(.submenu__link-price) {
			left: 0;
			right: 0;
			.submenu__list {
				grid-template-columns: repeat(2, 1fr);
				row-gap: 0;
				padding: 1.87rem 3.13rem;
			}
		}
	}
	@media (min-width: $md2) {
		min-width: 31.75rem;
	}
	@media (hover: none) {
		&.open {
			opacity: 1;
			visibility: visible;
			transform: translate3d(0, 0, 0);
		}
	}
	// .submenu__list
	&__list {
		display: grid;
		gap: 1rem;
		margin-top: 2rem;
		padding: 0 0 0 1rem;
		@media (min-width: $md3) {
			background: #283547;
			margin-top: 0;
			column-gap: 4.37rem;
			row-gap: rem(30);
			padding: 2.5rem;
		}
	}
	// .submenu__item
	&__item {
	}
	// .submenu__link
	&__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: color 0.3s ease;
		&:has(.submenu__link-price) {
			padding: 0.875rem 0;
			border-bottom: rem(1) dashed rgba(255, 255, 255, 0.14);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #6adeac;
				.submenu__link-price {
					color: #fff;
				}
			}
		}
	}
	// .submenu__link-text
	&__link-text {
	}
	// .submenu__link-price
	&__link-price {
		color: rgba(255, 255, 255, 0.7);
		border-radius: 0.25rem;
		border: rem(1) solid rgba(255, 255, 255, 0.1);
		padding: 0.625rem;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 1;
		text-transform: uppercase;
		transition: color 0.3s ease;
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: center;
	padding: 0;
	order: 1;
	z-index: 11;
	min-width: rem(26);
	height: rem(26);
	color: $accent;
	transition: color 0.3s ease;
	@media (any-hover: hover) {
		&:hover {
			color: #6adeac;
		}
	}
	& span {
		display: block;
		padding: rem(3) rem(0);

		width: 100%;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			width: 100%;
			margin-left: auto;
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
	}
	.header.open-menu & {
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
				width: 90%;
			}
			&:first-child {
				transform: translateY(rem(8));

				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-8));

				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
