.header {
	position: relative;
	z-index: 6;
	&.header--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		color: $white;
	}

	&.scroll {
		.header__overlay {
			opacity: 1 !important;
		}
	}

	&.submenu-open {
		background: transparent;
		.header__overlay {
			opacity: 1;
		}
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(21, 12, 7, 0.8);
		z-index: -1;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	// .header__top
	&__top {
		border-bottom: rem(1) solid rgba(255, 255, 255, 0.1);
		padding: rem(20) 0;
		@media (min-width: $md4) {
			padding: 0.875rem 0;
		}
	}
	// .header__main
	&__main {
		display: flex;
		justify-content: space-between;
		gap: rem(6);
	}
	// .header__logo
	&__logo {
		color: #e6e0d7;
		font-family: $font-ultra;
		margin-right: auto;
		font-size: rem(34);
		@media (min-width: $md4) {
			font-size: 2.5rem;
		}
		@media (min-width: $md2) {
			margin-right: 0;
		}
	}
	// .header__phone
	&__phone {
		display: flex;
		align-items: center;
		gap: 0.375rem;
		transition: color 0.3s ease;
		@media (max-width: $md2) {
			width: rem(44);
			height: rem(44);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: rem(1) solid rgba($color: #fff, $alpha: 0.2);
			& span {
				display: none;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #996948;
			}
		}
		&::before {
			flex-shrink: 0;
			font-size: 1.5rem;
			@media (min-width: $md4) {
				width: 1.125rem;
				height: 1.125rem;
				font-size: 1.125rem;
			}
		}
	}
	// .header__email
	&__email {
		display: flex;
		align-items: center;
		gap: 0.375rem;
		transition: color 0.3s ease;
		@media (max-width: $md2) {
			width: rem(44);
			height: rem(44);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: rem(1) solid rgba($color: #fff, $alpha: 0.2);
			& span {
				display: none;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #996948;
			}
		}
		&::before {
			flex-shrink: 0;
			font-size: 1.35rem;
			@media (min-width: $md4) {
				width: 1.125rem;
				height: 1.125rem;
				font-size: 1.125rem;
			}
		}
	}
	// .header__address
	&__address {
		display: flex;
		align-items: center;
		gap: 0.375rem;
		@media (max-width: $md2) {
			width: rem(44);
			height: rem(44);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: rem(1) solid rgba($color: #fff, $alpha: 0.2);
			&.is-active {
				& span {
					display: block;
					position: absolute;
					top: 100%;
					right: 0;
					white-space: nowrap;
					background-color: #fff;
					padding: 5px 10px;
					border: 1px solid #ccc;
					color: $accent;
					z-index: 100;
					min-width: 200px;
					text-align: center;
				}
			}
			& span {
				display: none;
			}
		}
		&::before {
			flex-shrink: 0;
			font-size: 1.35rem;
			@media (min-width: $md4) {
				width: 1.125rem;
				height: 1.125rem;
				font-size: 1.125rem;
			}
		}
	}
	&__menu-toggler {
		align-self: center;
		margin-right: rem(6);
	}
}

.menu {
	@media (max-width: $md2) {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: #150c07;
		z-index: 6;
		display: flex;
		overflow-y: auto;
		overflow-x: hidden;
		flex-direction: column;
		padding: 4rem 0rem;
		transition: transform 0.3s ease;
		transform: translateX(100vw);
		.header.open-menu & {
			transform: none;
		}
		.container {
			width: 100%;
			display: block;
		}
	}

	@media (min-width: $md1) {
		.container {
			max-width: rem(1200);
		}
	}
	// .menu__main
	&__main {
	}
	// .menu__content
	&__content {
	}
	// .menu__list
	&__list {
		display: flex;
		text-transform: uppercase;
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 1;
		flex-direction: column;
		@media (min-width: $md2) {
			gap: 2rem;
			flex-direction: row;
			justify-content: space-between;
		}
	}
	// .menu__item
	&__item {
		padding: 1.25rem 0;
		@media (max-width: $md2) {
			&:not(:last-child) {
				border-bottom: rem(1) solid rgba(255, 255, 255, 0.1);
			}
		}
		&.menu__item--parent {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			@media (min-width: $md2) {
				flex-wrap: nowrap;
			}
			@media (any-hover: hover) {
				&:hover {
					.menu__link,
					.menu__arrow {
						color: #996948;
					}
					.menu__arrow {
						transform: rotate(180deg);
					}
					& .submenu {
						@media (min-width: $md3) {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}

	// .menu__link
	&__link {
		transition: color 0.3s ease;
		@media (min-width: $md2) {
			max-width: calc(100% - 1.5rem);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #996948;
			}
		}
	}
	// .menu__arrow
	&__arrow {
		width: 1.5rem;
		font-size: 0.5rem;
		margin-left: 0.25rem;
		height: 0.75rem;
		transition: color 0.3s ease, transform 0.3s ease;
		&.active {
			transform: rotate(180deg);
		}
		@media (min-width: $md3) {
			margin-left: 0.38rem;
		}
	}
	// .menu__categories
	&__categories {
		margin-top: rem(20);
		color: rgba(255, 255, 255, 0.7);
		font-size: 0.875rem;
		font-weight: 500;
		line-height: 128.571%;
		display: flex;
		flex-direction: column;
		gap: rem(15);
		text-transform: none;
	}
	// .menu__category
	&__category {
	}
	// .menu__category-link
	&__category-link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}

	// .menu__body
	&__body {
	}
}

.submenu {
	@media (max-width: $md2) {
		flex: 0 0 100%;
		margin-top: 1.5rem;
		display: none;
		&.open {
			display: block;
		}
	}
	@media (min-width: $md2) {
		position: absolute;
		top: 100%;
		min-width: 23.75rem;
		padding: 1.875rem 0;
		transform-origin: center top;
		transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
		will-change: transform;
		display: flex;
		flex-direction: column;
		opacity: 0;
		visibility: hidden;

		&.open {
			opacity: 1;
			visibility: visible;
		}
	}
	&:has(.submenu__products) {
		@media (min-width: $md1) {
			left: 50%;
			transform: translateX(-50%);
			width: rem(1246);
		}
		@media (min-width: $md0) {
			width: rem(1720);
		}
		@media (min-width: $md0) {
			width: rem(1720);
		}
	}
	// .submenu__products
	&__products {
		display: flex;
		flex-wrap: wrap;
		gap: rem(10);
		@media (min-width: $md2) {
			gap: rem(18);
		}
	}
	// .submenu__product
	&__product {
		display: flex;
		flex-direction: column;
		text-align: left;
		font-weight: 500;
		letter-spacing: -0.0175rem;
		font-size: 0.875rem;
		flex: 0 0 rem(100);
		transition: color 0.3s ease;
		line-height: 128%;
		@media (min-width: $md2) {
			align-items: center;
			text-align: center;
			line-height: 133.333%;
			letter-spacing: -0.01875rem;
			font-size: 0.9375rem;
			flex: 0 0 rem(140);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #aa7a59;
			}
		}
	}
	// .submenu__product-image
	&__product-image {
		overflow: hidden;
		border-radius: rem(4);
		aspect-ratio: math.div(140, 154);
	}
	// .submenu__product-name
	&__product-name {
		margin-top: 0.5rem;
		font-size: 0.9375rem;
		text-transform: none;
		font-weight: 500;
		line-height: 133.333%;
		letter-spacing: -0.01875rem;
	}
	// .submenu__list
	&__list {
		display: grid;
		gap: 1rem;
		text-transform: none;
		@media (min-width: $md2) {
			column-gap: 4.37rem;
			row-gap: rem(24);
		}
	}
	// .submenu__item
	&__item {
	}
	// .submenu__link
	&__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		transition: color 0.3s ease;
		font-weight: 500;
		letter-spacing: 0.02rem;
		width: fit-content;
		@media (any-hover: hover) {
			&:hover {
				color: #aa7a59;
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: center;
	padding: 0;
	z-index: 11;
	min-width: rem(24);
	height: rem(24);
	transition: color 0.3s ease;
	padding: 0 rem(2);
	@media (min-width: $md2) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(3) rem(0);
		width: 100%;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			width: 100%;
			margin-right: auto;
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
		&:nth-child(2) {
			&::before {
				width: 75%;
			}
		}
	}
	.header.open-menu & {
		color: #fff;
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
				width: 90%;
			}
			&:first-child {
				transform: translateY(rem(8));

				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-8));

				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
