// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";

// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Onest";
$font-lora: "Lora";
$font-ultra: "UltraCondensedSansSerif";

// Шрифт по умолчанию

$md0: 1749.98px;
$md1: 1365.98px;
$md2: 1023.98px;
$md3: 767.98px;
$md4: 575.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: 1200px; // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$white: #e6e0d7;
$accent: #60371b;

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

@import "common";
@import "header";
@import "footer";
@import "grid";
@import "ui";
@import "forms";
@import "forms";

//=======================================

.hero {
	min-height: rem(1024);
	background: linear-gradient(0deg, rgba(21, 12, 7, 0) 2.96%, rgba(6, 3, 2, 0.8) 98.33%), url("@img/hero.jpg") center / cover no-repeat, $accent;

	color: $white;
	padding: 12.6rem 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	.container {
		width: 100%;
	}
	// .hero__offer
	&__offer {
		max-width: 58.3125rem;
	}
	// .hero__features
	&__features {
		font-size: 1.25rem;
		line-height: 1;
		letter-spacing: -0.025rem;
		display: flex;
		gap: rem(4);
	}
	// .hero__feature
	&__feature {
		padding: 0.625rem 1.5rem;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
		&:not(:last-child) {
			border-right: rem(1) solid rgba($color: #fff, $alpha: 0.1);
		}
	}
	// .hero__title
	&__title {
		margin-top: 2.75rem;
		font-family: $font-lora;
		font-size: 3.875rem;
		font-weight: 400;
		line-height: 1;
		letter-spacing: -0.19375rem;
	}
	// .hero__footer
	&__footer {
		margin-top: 2.75rem;
		display: flex;
		align-items: center;
		gap: rem(30);
	}
	// .hero__btns
	&__btns {
		display: flex;
		gap: 1rem;
	}
	// .hero__btn
	&__btn {
	}
	// .hero__production
	&__production {
		display: flex;
		align-items: center;
		gap: 1rem;
		max-width: 15.5rem;
	}
	// .hero__production-icon
	&__production-icon {
		width: 3.375rem;
		height: 3.375rem;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border: rem(1) solid rgba(255, 255, 255, 0.2);
		border-radius: 50%;
	}
	// .hero__production-text
	&__production-text {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 1.5;
	}
}

.categories {
	padding: 7.5rem 0 rem(65);
	.row {
		margin: 0 rem(-10);
		& > * {
			padding: 0 rem(10);
		}
	}
	// .categories__card
	&__card {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		background: $accent;
		overflow: hidden;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(181deg, rgba(21, 12, 7, 0) 1.07%, rgba(2, 1, 1, 0.8) 98.86%);
			z-index: 2;
		}
		@media (any-hover: hover) {
			&:hover {
				.categories__card-poster img {
					transform: scale(1.125);
				}
				.categories__card-btn {
					background: $white;
					color: #261509;
					&:hover {
						background: #996948;
						border: rem(1) solid #996948;
						color: #fff;
					}
					&:active {
						border: rem(1) solid lighten($color: #996948, $amount: 5);
						background: lighten($color: #996948, $amount: 5);
						color: #fff;
					}
				}
			}
		}
	}
	// .categories__card-poster
	&__card-poster {
		border-radius: 0.25rem;
		position: relative;
		z-index: 1;
		& img {
			transition: transform 0.3s ease-in-out;
		}
	}
	// .categories__card-info
	&__card-info {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		color: $white;
		padding: rem(0) rem(42) rem(50);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1.25rem;
		z-index: 3;
	}
	// .categories__card-name
	&__card-name {
		font-family: $font-lora;
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.25;
		letter-spacing: -0.04rem;
	}
	// .categories__card-btn
	&__card-btn {
	}
}

.catalog {
	padding: rem(65) 0;
	// .catalog__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .catalog__title
	&__title {
	}
	// .catalog__logo
	&__logo {
		color: #1e1e1e;
		font-family: $font-ultra;
		font-size: 3.75rem;
		line-height: 1;
	}
	// .catalog__body
	&__body {
		margin-top: 2rem;
		.row {
			margin: 0 rem(-10);
			row-gap: rem(40);
			& > * {
				padding: 0 rem(10);
			}
		}
	}
}

.product-card {
	display: flex;
	flex-direction: column;
	// .product-card__poster
	&__poster {
	}
	// .product-card__name
	&__name {
		margin-top: 1.25rem;
		font-size: 1.25rem;
		font-weight: 500;
		color: #1e1e1e;
		line-height: 1;
		letter-spacing: -0.025rem;
	}
	// .product-card__more
	&__more {
		margin-top: rem(10);
	}
}

.products {
	padding: rem(40) 0;
	display: none;
	@media (min-width: $md4) {
		display: block;
	}
	@media (min-width: $md3) {
		padding: rem(60) 0;
	}
	// .products__title
	&__title {
	}
	// .products__body
	&__body {
		margin-top: rem(50);
		.row {
			margin: 0 rem(-10);
			row-gap: rem(20);
			& > * {
				padding: 0 rem(10);
			}
		}
	}
	// .products__btns
	&__btns {
		margin-top: 2.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 1.25rem;
	}
	// .products__btn
	&__btn {
	}
	// .products__footer
	&__footer {
	}
}

.product {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 1.25rem;
	background: #262626;
	// .product__header
	&__header {
		background: #fff;
		height: 13.375rem;
		border-radius: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
	// .product__header-row
	&__header-row {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.25rem;
	}
	// .product__label
	&__label {
		border-radius: 3.125rem;
		background: #3b3b3b;
		color: #898989;
		text-align: center;
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 120%;
		padding: 0.5rem 0.875rem;
	}
	// .product__compare
	&__compare {
		width: 2rem;
		height: 2rem;
		border-radius: 3.125rem;
		background: #3b3b3b;
		color: #898989;
		transition: color 0.3s ease, background-color 0.3s ease;
		&.active {
			background: #f9851f;
			color: #1b1b1b;
		}
		&:not(.active) {
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
				}
			}
		}
	}
	// .product__image
	&__image {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.25rem;
		& img {
			max-height: 100%;
			width: auto;
			transition: transform 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.05);
				}
			}
		}
	}
	// .product__body
	&__body {
		padding: 0.75rem 1.25rem;
	}
	// .product__name
	&__name {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 120%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .product__stats
	&__stats {
		margin-top: rem(15);
	}
	// .product__stats-item
	&__stats-item {
		display: flex;
		align-items: center;
		gap: 0.25rem;
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
	// .product__stats-icon
	&__stats-icon {
		width: 1rem;
		height: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		margin-right: rem(6);
	}
	// .product__stats-property
	&__stats-property {
		color: #898989;
	}
	// .product__stats-value
	&__stats-value {
	}
	// .product__footer
	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.125rem 1.25rem 1.25rem;
	}
	// .product__price
	&__price {
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 120%;
	}
	// .product__add-to-cart
	&__add-to-cart {
		&.btn {
			padding: rem(11) rem(30);
		}
	}
}

.about {
	padding: rem(60) 0;
	.row {
		align-items: center;
		margin: 0 rem(-48);
		row-gap: rem(20);
		& > * {
			padding: 0 rem(48);
		}
	}
	// .about__text
	&__text {
		max-width: rem(762);
	}
	// .about__title
	&__title {
	}
	// .about__description
	&__description {
		margin-top: rem(14);
		color: rgba(30, 30, 30, 0.8);
		font-size: 1.25rem;
		line-height: 1.5;
		letter-spacing: -0.025rem;
	}
	// .about__image
	&__image {
	}
	// .about__production
	&__production {
		margin-top: rem(60);
		display: flex;
		align-items: center;
		gap: 1rem;
	}
	// .about__production-icon
	&__production-icon {
		width: 3.375rem;
		height: 3.375rem;
		flex-shrink: 0;
		border: rem(1) solid rgba(77, 44, 22, 0.2);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
	}
	// .about__production-text
	&__production-text {
		color: #1e1e1e;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.25;
		letter-spacing: -0.025rem;
		max-width: 12rem;
	}
	// .about__more
	&__more {
		margin-top: rem(30);
	}
}

.features {
	padding: rem(60) 0;
	.row {
		margin: 0 rem(-10);
		row-gap: rem(20);
		& > * {
			padding: 0 rem(10);
		}
	}
	// .features__title
	&__title {
		margin-bottom: 2.5rem;
	}
	// .features__item
	&__item {
		border-radius: 0.25rem;
		border: rem(1) solid rgba(77, 44, 22, 0.2);
		display: flex;
		align-items: center;
		gap: 2rem;
		padding: rem(38) rem(50);
		border-radius: 0.25rem;
	}
	// .features__item-icon
	&__item-icon {
		flex: 0 0 rem(64);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .features__item-text
	&__item-text {
		color: #1e1e1e;
		font-size: 1.25rem;
		font-weight: 500;
		line-height: 1.3;
	}
}
