//============ МОДУЛИ ====================
@import "modules/popup";

//============ МОДУЛИ ====================

.title-lg {
	font-family: $font-lora;
	font-size: 4.125rem;
	line-height: 106.061%;
	letter-spacing: -0.20625rem;
}

.title {
	font-family: $font-lora;
	font-size: 2.875rem;
	line-height: 108.696%;
	letter-spacing: -0.14375rem;
}

.more-link {
	font-size: 1rem;
	font-weight: 500;
	line-height: 106.25%;
	letter-spacing: -0.02rem;
	border-bottom: rem(1) solid rgba(77, 44, 22, 0.5);
}

.color-accent {
	color: $accent;
}

.seo-text {
	color: #898989;
	text-align: center;
	line-height: 140%;
	font-size: 0.875rem;
	margin-top: 1.25rem;
	@media (min-width: $md4) {
		margin-top: rem(30);
		font-size: 1rem;
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация скролла

$scrollbarColor: $accent;

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: darken($color: $white, $amount: 10);
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
